@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Orbitron:wght@800&display=swap');


div{
    display:flex;

    justify-content: space-between;
}

#main{
    display:flex;
    justify-content: space-between;
    position: absolute;
    top: 700px;
}

#main *{
    margin-left :20px;
    margin-right: 20px;
}


#player1, #player2{
    margin-left : auto;
    margin-right : auto;
    margin-top : 50px;
    margin-bottom : 50px;
    width:500px;
    height:700px;
    border: 3px solid beige;
}

#background{
    position:absolute;
    z-index: -1;
}

#ui {
    position: absolute;
    top : 0%;
    left : 0%;
}

#background {
    position: absolute;
    top: 0%;
    left: 0%;
}